<!DOCTYPE html>
<html ng-app="knowYourPlans" ng-controller="AppCtrl">
<head>
    <title>Know Your Plans</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/static/core/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/static/core/<%= file %>"></script><% }); %>

</head>
<body>
  <div class="container">
    <div ui-view="main"></div>
  </div>
</body>
</html>
