<!DOCTYPE html>
<html ng-app="knowYourPlans" ng-controller="AppCtrl">
<head>
    <title>Know Your Plans</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/normalize-css/normalize.css">

    <!-- Vendor JS -->
    <script type="text/javascript" src="/static/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/static/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div ui-view="main"></div>
    </div>

    <!-- Custom JS -->
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/intro/intro.js"></script>
    <script type="text/javascript" src="/static/js/controls/controls.js"></script>
    <script type="text/javascript" src="/static/js/data/data.js"></script>
</body>
</html>